<!doctype html>
<html lang="th">

<head>
  <title>Predict</title>
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <label style="display:block">Select Model:</label>
      <select #selectModel (change)="onSelect($event.target)" class="selectpicker">
        <optgroup label="Default Model">
          <option (ngModel)="(Default)">(Default)</option>
        </optgroup>
        <optgroup *ngFor="let project of projectsByUser; let i = index" [label]="project.projectName">
          <option *ngFor="let model of project.model; let j = index" (ngModel)="model">{{model}}</option>
        </optgroup>
      </select>

    </div>
  </div>
</body>

</html>