.jumbotron {
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.scroll{
    overflow-y: auto; 
}

.corpus{
    display: flex;
    max-height:20vw ; 
    margin-bottom: 1vw;
}

.list{
    display: list-item;
}

.list-group-item{
    width: 100%;
    font-size: 1.2vw;
}

.multiselect{
    width: 50%;
    margin-bottom: 1vw;
}

.trash-icon{
    margin-left: 0.8vw;
}

.width20{
    display: block;
    width: 20%
}

.width80{
    display: block;
    width: 80%;
}

.corpus-file{
    display: flex;
    justify-content: space-between;
}

.section-checkbox{
    display: flex;
    flex-direction: column;
}

.div-section{
    display: flex;
    justify-content: space-around;
}

.summit-button{
    font-size: 1.5vw;
    display: flex;
    justify-content:flex-end;
}

.list-background-color{
    background-color: antiquewhite;
}

.card-list{
    max-height: 15vw;
    overflow: scroll;
}

mat-checkbox{
    display: content;
    max-width: 1.5vw;
    max-height: 1.5vw;
}

mat-table{
    overflow-y: scroll;
    max-height: 15vw;
}
