<!doctype html>
<html lang="en">

<!-- Upload Modal -->
<ng-template #upload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload Dictionary</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Upload Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong style="word-break: break-word">{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isCancel">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isError">
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="fa fa-upload" aria-hidden="true"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="fa fa-ban" aria-hidden="true"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="fa fa-trash-o" aria-hidden="true"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <p *ngIf="hasError ;else elseblock"><ngb-progressbar type="danger" [value]="uploader.progress" [striped]="true">Try again</ngb-progressbar></p>
        <ng-template #elseblock><p *ngIf="uploader.progress < 100 ;else elseblock2"><ngb-progressbar type="info" [value]="uploader.progress" [striped]="true" [animated]="true"><i></i></ngb-progressbar></p></ng-template>
        <ng-template #elseblock2><p><ngb-progressbar type="success" [value]="uploader.progress" [striped]="true">Completed!</ngb-progressbar></p></ng-template>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload" aria-hidden="true"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="fa fa-ban" aria-hidden="true"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="fa fa-trash-o" aria-hidden="true"></span> Remove all
      </button>
    </div>

    <label class="custom-file" style="margin-top: 1vw;">
      <input type="file" ng2FileSelect [uploader]="uploader" multiple accept="text/plain"/>
      <span class="custom-file-control"></span>
    </label>
    
    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--  -->

<!-- Delete Modal -->
<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="word-break: break-word;">Delete {{deleteCorpusName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you want to delete this corpus ?&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
    <button type="button" class="btn btn-danger" (click)="deleteCorpus();c()">Delete</button>
  </div>
</ng-template>
<!--  -->



<head>
  <title>Entity Name Recognizer Model</title>
</head>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#/">
    <img src="../../assets/images/model.jpg" class="img-logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#/home;email={{email}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Model</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Upload</a>
          <a class="dropdown-item">View Progress</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" style="font-size:1.2rem; padding-right:0.25rem"></i>
          {{user.email}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item centerdropdown" (click)="logout()">
            Logout
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
  
</nav>
<!--  -->

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex flex-column">
      <h1 class="display-3">{{project?.projectName}}</h1>
      <ngb-tabset>
        <ngb-tab title="Preprocess">
          <ng-template ngbTabContent>
            <!-- select field -->
            <label style="display:block">Select Dictionary:</label>
            <div class="multiselect form-control">
              <angular2-multiselect 
                [data]="dropdownList" 
                [(ngModel)]="selectedItems.value" 
                [settings]="dropdownSettings"
                [formControl]="selectedItems">
                <!-- (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
                > -->
              </angular2-multiselect>
            </div>
            <button type="submit" class="btn btn-primary" (click)="uploadModal(upload,'dictionary')">Upload Dictionary...</button>
            <!--  -->
            <!-- Corpus field -->
            <label style="display:block">Corpus:</label>
            <div class="corpus">
              <div class="list-group scroll list width20">
                <button type="button" class="list-group-item corpus-file" *ngFor="let c of project.corpus; let i = index" (click)="showCorpus(i)">
                  <h6 style="word-wrap: break-word; width: 10vw;">{{c?.fileName}}</h6>
                  <span class="fa fa-trash-o trash-icon" aria-hidden="true" (click)="openConfirmModal(delete,i)"></span>
                </button>
              </div>

              <div *ngIf="showText.fileName" class="card width80">
                <div class="card-body">
                  <h6 class="card-title" style="font-size:1.5vw">{{showText?.fileName}}</h6>
                  <hr class="my-4">
                  <p class="card-text scroll" style="font-size:1.2vw; max-height: 12vw;">{{showText?.data}}</p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="uploadModal(upload,'corpus')">Upload Corpus...</button>
            <!--  -->
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Classify">
          <ng-template ngbTabContent>
            <label>Select Classifier:</label>
            <select class="form-control" id="sel1">
              <option>CRF++ (default)</option>
            </select>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Feature Selection">
          <ng-template ngbTabContent>
            <label style="display:block">Vocabulary Feature:</label>
            

            <div *ngFor="let value of vocabFeature;let i=index" class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (ngModelChange)="updateVocab(i)" [ngModel]="vocabFeature[i]"> W<sub>{{i-5}}  {{value}}</sub>
              </label>
            </div>
            <!-- <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w9"> W<sub>-4</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w8"> W<sub>-3</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w7"> W<sub>-2</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w6"> W<sub>-1</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w0"> W<sub>0</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w1"> W<sub>+1</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w2"> W<sub>+2</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)] = "vocabFeature.w3"> W<sub>+3</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" [(ngModel)] = "vocabFeature.w4"> W<sub>+4</sub>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)] = "vocabFeature.w5"> W<sub>+5</sub>
              </label>
            </div> -->

            <label style="display:block">Dictionary Feature:</label>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>

</body>

</html>