<!doctype html>
<html lang="en">

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload Dictionary</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Upload Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isCancel">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isError">
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="fa fa-upload" aria-hidden="true"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="fa fa-ban" aria-hidden="true"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="fa fa-trash-o" aria-hidden="true"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" ></div>
          <p><ngb-progressbar [showValue]="true" type="info" [value]="uploader.progress" [striped]="true" [animated]="true"><i></i></ngb-progressbar></p>

        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload" aria-hidden="true"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="fa fa-ban" aria-hidden="true"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="fa fa-trash-o" aria-hidden="true"></span> Remove all
      </button>
    </div>

    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--  -->

<head>
  <title>Entity Name Recognizer Model</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#/">
    <img src="../../assets/images/model.jpg" class="img-logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#/home;email={{email}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Model</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Upload</a>
          <a class="dropdown-item">View Progress</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
  <i class="fa fa-user-circle" style="font-size:1.2rem; padding-right:0.25rem"></i>
  {{user.email}}
</nav>

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex flex-column">
      <ngb-tabset>
        <ngb-tab title="Preprocess">
          <ng-template ngbTabContent>
            <label>Select Dictionary:</label>
            <select [(ngModel)]="selectedDict" class="custom-select">
              <option *ngFor="let d of dicts" [value]="d.title">{{d.title}}</option>
            </select>
            <button type="submit" class="btn btn-primary" (click)="uploadModal(content,'dictionary')">Upload Dictionary...</button>
            <label style="display:block">Corpus</label>
            <div class="corpus">
              <div class="list-group scroll list">
                <button type="button" class="list-group-item" *ngFor="let c of corpus" [attr.id]="c.id" (click)="showCorpus(c.id)">{{c.title}}</button>
              </div>

              <div *ngIf="showText.title" class="card">
                <div class="card-body">
                  <h5 class="card-title">{{showText.title}}</h5>
                  <p class="card-text scroll">{{showText.text}}</p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="uploadModal(content,'corpus')">Upload Corpus...</button>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Classify">
          <ng-template ngbTabContent>
            <label for="sel1">Select Classifier:</label>
            <select class="form-control" id="sel1">
              <option>Random Tree (default)</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>

</body>

</html>