.jumbotron {
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scroll{
    overflow-y: auto; 
}

.corpus{
    display: flex;
    max-height:20rem ; 
    margin-bottom: 1rem;
}

.list{
    display: list-item;
}

.list-group-item{
    width: 100%;
    font-size: 1.2vw;
}

.multiselect{
    width: 50%;
    margin-bottom: 1rem;
}