<!doctype html>
<html lang="en">

<head>
  <title>{{modelName}}</title>
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <h1 class="display-3">{{modelName}}</h1>

      <div class="training" ngIf="project?.isTraining && project?.model[project.model.length-1] == modelName ;else showCorpusResult">
        <mat-spinner></mat-spinner>
        <h4>{{modelName}} is training</h4>
      </div>

      <!-- showResult block -->
      <ng-template #showCorpusResult>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Corpus Information :
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Total Word : {{project.corpusInfo[modelName].vocabcount}}</li>
            <li class="list-group-item">Total Tags : {{project.corpusInfo[modelName].totalTags}}</li>
            <li class="list-group-item">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Tag:</div>
                <div class="card-body text-primary">
                  <p *ngFor="let tag of project.corpusInfo[modelName].info" class="card-text">{{tag}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
      <!--  -->


      <button *ngIf="!project.isTraining ;else newModel" class="btn btn-primary margin-button" (click)="goToCreateModel()">Create New Model</button>
      <ng-template #newModel>
        <button class="btn btn-outline-secondary margin-button" placement="bottom" ngbTooltip="Please wait until {{project.model[project.model-1]}} is training finish">
          Create New Model
        </button>
      </ng-template>
    </div>
  </div>

</body>

</html>