.jumbotron {
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.training{
    display: flex;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-button{
    margin-top: 5vw;
}

.tags{
    overflow-y: auto;
    max-height: 15vw;
}