.jumbotron {
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.training{
    display: flex;
    justify-content: center;
}

.margin-button{
    margin-top: 10vw;
}

.tags{
    overflow-y: auto;
    max-height: 10vw;
}