<!doctype html>
<html lang="th">

<!-- Upload Modal -->
<ng-template #uploadTestData let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload Test Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Upload Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong style="word-break: break-word">{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isCancel">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
            <span *ngIf="item.isError">
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="fa fa-upload" aria-hidden="true"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="fa fa-ban" aria-hidden="true"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="fa fa-trash-o" aria-hidden="true"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <p *ngIf="hasError ;else elseblock">
          <ngb-progressbar type="danger" [value]="uploader.progress" [striped]="true">Try again</ngb-progressbar>
        </p>
        <ng-template #elseblock>
          <p *ngIf="uploader.progress < 100 ;else elseblock2">
            <ngb-progressbar type="info" [value]="uploader.progress" [striped]="true" [animated]="true">
              <i></i>
            </ngb-progressbar>
          </p>
        </ng-template>
        <ng-template #elseblock2>
          <p>
            <ngb-progressbar type="success" [value]="uploader.progress" [striped]="true">Completed!</ngb-progressbar>
          </p>
        </ng-template>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload" aria-hidden="true"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="fa fa-ban" aria-hidden="true"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="fa fa-trash-o" aria-hidden="true"></span> Remove all
      </button>
    </div>

    <label class="custom-file" style="margin-top: 1vw;">
      <input type="file" ng2FileSelect [uploader]="uploader" multiple accept="text/plain" />
      <span class="custom-file-control"></span>
    </label>

    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--  -->

<!-- Delete Modal -->
<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="word-break: break-word;">Delete {{deleteTestDataName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you want to delete this test data ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
    <button type="button" class="btn btn-danger" (click)="deleteTestData();c()">Delete</button>
  </div>
</ng-template>
<!--  -->

<head>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <title>{{modelName}}</title>
</head>

<body>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <h1 class="display-3">{{modelName}}</h1>
      <div *ngIf="!isFillItem ; else showContent"></div>
      <ng-template #showContent>
        <div class="training" *ngIf="isLastModel && project.isTraining ;else showCorpusResult">
          <mat-spinner style="display: block"></mat-spinner>
        </div>
        <br>
        <h4 class="training" *ngIf="isLastModel && project.isTraining">{{modelName}} is training</h4>
      </ng-template>

      <!-- showResult block -->
      <ng-template #showCorpusResult>
        <div class="flex-row">
          <div class="card" style="width: 30%;">
            <div class="card-header text-white bg-secondary">
              Corpus Information
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Total Word : {{project?.corpusInfo[modelName]?.vocabcount}}</li>
              <li class="list-group-item">Total Tags : {{project?.corpusInfo[modelName]?.tags?.length}}</li>
              <li class="list-group-item">
                <div class="card border-primary mb-3">
                  <div class="card-header">Tags List:</div>
                  <div class="card-body text-primary tags">
                    <p *ngFor="let tag of project.corpusInfo[modelName]?.tags" class="card-text">{{tag}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="card" style="width: 69%;">
            <div class="card-header text-white bg-secondary">
              Test Data
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button class="btn btn-primary" (click)="uploadModal(uploadTestData,'testdata')" style="margin-bottom: 1vw;">Upload Test Data...</button>
                <div class="card border-primary mb-3 test-data" *ngIf="project?.testData && project?.testData.length != 0">
                  <div class="card-header">Test File:</div>
                  <div class="card-body text-primary tags">
                    <p *ngFor="let file of project?.testData ;let i = index" class="card-text">{{file?.fileName}}
                      <span class="fa fa-trash-o trash-icon" aria-hidden="true" (click)="openConfirmModal(delete,i,'testdata')"></span>
                    </p>
                  </div>
                </div>
              </li>
              <li class="list-group-item training">
                <button class="btn btn-success btn-lg" [disabled]="project?.testData.length == 0 || testing" (click)="testModel()">Test</button>
                <div class="download-icon text-primary">
                  <i class="fa fa-download download-icon-size" aria-hidden="true" (click)="downloadModel()"></i>
                  <u>Download</u>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
      <!--  -->

      <div *ngIf="output && output.length != 0" class="card text-white bg-dark mb-3">
        <div class="card-header">Test Output</div>
        <div class="card-body">
          <mat-table class="bg-dark" #outputTable [dataSource]="dataSourceOutput">
            <!-- Word Column -->
            <ng-container *ngFor="let col of displayedColumnsOutput" [matColumnDef]="col">
              <mat-header-cell *matHeaderCellDef class="text-white">
                <h6>
                  {{col}}
                </h6>
              </mat-header-cell>
              <mat-cell class="text-white" *matCellDef="let element">
                <h6>{{element[col]}}</h6>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsOutput"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsOutput;"></mat-row>
          </mat-table>
          <!-- <p *ngFor="let text of output" class="card-text">{{text}}</p> -->
        </div>
      </div>

      <button *ngIf="!project.isTraining ;else newModel" class="btn btn-primary margin-button" (click)="goToCreateModel()">Create New Model</button>
      <ng-template #newModel>
        <button class="btn btn-outline-secondary margin-button" placement="bottom" ngbTooltip="Please wait until training model is finished">
          Create New Model
        </button>
      </ng-template>

    </div>
  </div>

</body>

</html>