.jumbotron {
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.logo {
    padding-top: 1vw;
    width: 100px;
    height: 115px;
}

#login-width {
    width: 40%;
}

.login-checkbox {
    margin: 0.4vw;
}

.navbar{
    opacity: .2;
}

.ENRM-logo{
    width: 30px;
    height: 34px;
    margin-right: 0.75vw;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }

}