<!doctype html>
<html lang="en">

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Project Name</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Please enter project name (except '/')" [(ngModel)]="newProjectName" style="width: 70%;">
    <p [hidden]="!duplicateProjectName" class="text-danger">* This project name already exists</p>
    <p [hidden]="nameExcluse !== newProjectName" class="text-danger">* Must not input '/' in project name</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-lg" (click)="c('Close click')">Cancel</button>
    <button class="btn btn-primary btn-lg" (click)="createProject()" [disabled]="newProjectName == '' || clickCreate">Create</button>
  </div>
</ng-template>
<!--  -->

<head>
  <title>Entity Name Recognizer Model</title>
</head>
<div *ngIf="alertMessage && successLogin" class="alert alert-success" style="z-index:9999; margin:0; position:absolute; width:100%; opacity: .88;">{{ alertMessage }}</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbaricon">
    <a class="navbar-brand" href="#/">
      <img src="../../assets/images/model.jpg" class="img-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Project</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Upload</a>
            <a class="dropdown-item">View Progress</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" style="font-size:1.2rem; padding-right:0.25rem"></i>
          {{user.email}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item centerdropdown" (click)="logout()">
            Logout
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>


</nav>

<body>

  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex flex-column">
      <h1 class="display-3">Start New Project</h1>
      <p class="lead">Use the noun creation to describe bringing something into existence, such as the creation of a new organization or
        the creation of a cutting-edge computer program.</p>
      <hr class="my-4">
      <p class="lead">
        <button class="btn btn-primary btn-lg" (click)="openModal(content)">Get Started</button>
      </p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center" *ngIf="projectsByUser.length != 0">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <h1 class="display-3">Your Project</h1>
      <div class="card">
        <div class="card-body list">
          <div style="display:block; width: 5rem; margin:0.5rem" *ngFor="let project of projectsByUser">
            <a class="model-items" href="#/{{project.projectName}}">
              <i class="fa fa-file" aria-hidden="true"></i>
              <small>{{project.projectName}}</small>
            </a>
          </div>
        </div>
        <!-- <i class="fa fa-file-code-o" aria-hidden="true"></i>
        <p class="lead p-text">Your Model</p>
        <div id="list-example" class="list-group list">
          <a *ngFor="let project of projectsByUser" class="list-group-item list-group-item-action" href="#/{{project.projectName}}">
            <small>{{project.projectName}}</small>
          </a>
        </div> -->
      </div>


      <!-- <div id="verticalline"></div>
      <div style="text-align: center;">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <p class="lead p-text">(Recent) Model 9</p>
        <br>
        <circle-progress [percent]="85" [radius]="60" [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" style="font-size:1rem"></circle-progress>
      </div>
      <div id="verticalline"></div>
      <div style="text-align: center;">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <p class="lead p-text">(Recent) Output Model 9</p>
        <div class="card table-responsive" style="overflow-x: scroll; max-width:14rem ;">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Total</th>
                <th scope="col">organization</th>
                <th scope="col">person</th>
                <th scope="col">others</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name Entity</th>
                <td>2561</td>
                <td>222</td>
                <td>1250</td>
                <td>1089</td>
              </tr>
              <tr>
                <th scope="row">Acc.</th>
                <td>95.98%</td>
                <td>98.98%</td>
                <td>95.58%</td>
                <td>93.33%</td>
              </tr>

            </tbody>
          </table>
        </div>
        <p class="lead p-text">Total 3 tags</p>
      </div>
      <div id="verticalline"></div>
      <div style="text-align: center;">
        <i class="fa fa-book" aria-hidden="true"></i>
        <p class="lead p-text"> Dictionary</p>
        <div id="list-example" class="list-group list">
          <a class="list-group-item list-group-item-action" href="#/list-Dict-1">
            <small>Dict. 1</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-2">
            <small>Dict. 2</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-3">
            <small>Dict. 3</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-4">
            <small>Dict. 4</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-5">
            <small>Dict. 5</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-6">
            <small>Dict. 6</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-7">
            <small>Dict. 7</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-8">
            <small>Dict. 8</small>
          </a>
          <a class="list-group-item list-group-item-action" href="#/list-Dict-9">
            <small>Dict. 9</small>
          </a>
        </div>
        <div style="text-align: center;">
          <a class="btn btn-outline-success btn-lg btm-dict" href="#/upload" role="button">Upload Dict.</a>
        </div>
      </div> -->
    </div>
  </div>


</body>

</html>