<!doctype html>
<html lang="th">

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Project Name</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Please enter project name (except '/')" [(ngModel)]="newProjectName" style="width: 70%;">
    <p [hidden]="!duplicateProjectName" class="text-danger">* This project name already exists</p>
    <p [hidden]="nameExcluse !== newProjectName" class="text-danger">* Must not input '/' in project name</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-lg" (click)="c('Close click')">Cancel</button>
    <button class="btn btn-primary btn-lg" (click)="createProject()" [disabled]="newProjectName == '' || clickCreate">Create</button>
  </div>
</ng-template>
<!--  -->

<head>
  <title>Entity Name Recognizer Model</title>
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card flex-column">
      <h1 class="display-3">Start New Project</h1>

      <p class="lead">
        ในการเริ่มโครงการใหม่ ซอฟต์แวร์เครื่องมือนี้ จะมีคลังเอกสารดีฟอลต์ และฐานความรู้ทางภาษาเบื้องต้นให้
      </p>

      <hr class="my-4">
      <p>อย่างไรก็ดีหากผู้ใช้ต้องการพัฒนาระบบรู้จำ Named Entity ที่สามารถประมวลผลเอกสารในโดเมนเฉพาะเจาะจง หรือรู้จำประเภทของชื่อเฉพาะที่ต้องการ
        ผู้ใช้ จะต้องเป็นผู้สร้างฐานความรู้คำศัพท์และคลังเอกสารสำหรับฝึกฝนระบบด้วยตัวเอง</p>
      <p class="lead">
        <button class="btn btn-primary btn-lg" (click)="openModal(content)">Get Started</button>
      </p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center" *ngIf="projectsByUser.length != 0">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <h1 class="display-3">Your Projects</h1>
      <div class="card">
        <div class="card-body list">
          <div style="display:block; width: 5rem; margin:0.5rem" *ngFor="let project of projectsByUser">
            <div *ngIf="project.model.length != 0 ;else createModel">
              <a class="model-items" href="#/{{project.projectName}}">
                <i class="fa fa-file" aria-hidden="true"></i>
                <small>{{project.projectName}}</small>
              </a>
            </div>
            <ng-template #createModel>
              <a class="model-items" href="#/{{project.projectName}}/create/model">
                <i class="fa fa-file" aria-hidden="true"></i>
                <small>{{project.projectName}}</small>
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>