.jumbotron-home {
    width: 85%;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#verticalline {
    border-left: 1px solid gray;
    height: 10vw;
  }

.list{
    display: flex;
    text-align: center;
    overflow-y: scroll;
    max-height:20vw ;
    font-size: 3vw ;
    flex-flow: row wrap;
}

.list-group-item{
    padding: .25vw .75vw;
}

.p-text{
    margin:0;
    font-size: 1vw;
    display: inline-flex;
}

.btm-dict{
    font-size:0.75vw;
}

.table{
    margin-bottom: 0;
    font-size: 0.75vw;
}

.centerdropdown{
    display: flex;
    justify-content: center;
}

.fa-sign-out{
    padding-left: 0.3vw;
}

.model-items{
    display: flex;
    flex-direction: column;
}

small{
    font-size: 1vw;
    word-wrap: break-word;
}

html {
    max-width: 100%;
    width: auto;
    height: auto;
}