<!doctype html>
<html lang="en">

<head>
  <title>{{project.projectName}} Models</title>
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <div class="jumbotron special-card d-flex justify-content-around flex-column">
      <h1 class="display-3">Your Models</h1>
      <div class="card">
        <div class="card-body list">
          <div style="display:block; width: 5rem; margin:0.5rem" *ngFor="let model of project.model">
            <a class="model-items" href="#/{{project.projectName}}/{{model}}">
              <i class="fa fa-file" aria-hidden="true"></i>
              <small>{{model}}</small>
            </a>
          </div>
        </div>
      </div>
      <a class="model-items" href="#/{{project.projectName}}/create/model" [disabled]="project.isTraining">
        <button class="btn btn-primary" >Create New Model</button>
      </a>
    </div>
  </div>
</body>

</html>