.list{
    display: flex;
    text-align: center;
    overflow-y: auto;
    max-height:50vw ;
    font-size: 3vw ;
    flex-flow: row wrap;
}

small{
    font-size: 1vw;
    word-wrap: break-word;
}

.margin-button{
    margin-top: 10vw;
}

.model-items{
    display: flex;
    flex-direction: column;
}


