.jumbotron {
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbaricon{
    display: flex;
    justify-content: flex-start;
}

.dropdown-menu{
    overflow-y: auto;
    max-height: 20vw;
}